# dependencies
/node_modules
/.pnp
.pnp.js

# build
/dist
/build
.vite

# testing
/coverage

# local env files
.env
.env.*.local

# system files
.DS_Store
Thumbs.db

# IDEs
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
*.local